.card-surat{
    cursor: pointer;
    transition: 0.8s;
}
.card-surat:hover{
    background-color: #21e6c2d6
}
.navbar-brand{
    transition: 0.5s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-brand:hover{
    scale: 1.1;
    letter-spacing: 1px;
}
